<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title><%= title %></title>
</head>

<body>

  <nav>

    <h1 class="logo"><img src="https://i.imgur.com/22AWNJA.png" alt="logo"></h1>
    <a href="/events/new" <%- title === 'Create Event' ? 'class="active"' : '' %>>Create An Event</a>
    <a href="/events" <%- title === 'Upcoming Events' ? 'class="active"' : '' %>>Events</a>
    <% if (user) { %>
    <a href="/logout">Log Out</a>
    <% } else { %>
    <a href="/auth/google">Login</a>
    <% } %>
  </nav>
  <main>
    <center>
    <h1>Bridge·It is a place where Bay Area artists can connect through event sharing. Start bridging today.
   </h1></center>
    <div class="fullscreen-video-wrap">
    <video src="/media/landingvideo.mp4"></video>
    </div>
  </main>
</body>

</html>