* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: white;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "nav"
    "main"
}

.fullscreen-video-wrap{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.fullscreen-video-wrap video{
  min-width: 100%;
  min-height: 100%;
}

body>nav {
  grid-area: nav;
  background-color: #003831;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

nav>.logo {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

.logo img{
  object-fit: contain;
  float: left;
  width: 100px;
  height: 40px;
 
}

body>main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(188, 189, 189);
  padding: 20px;
  overflow-y: scroll;
}

body>main h1:first-child {
  margin-bottom: 50px;
}

nav>a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav>a:hover {
  color: white;
  background-color: rgb(255, 255, 255)
}

nav>a.active {
  color: white;
}

#new-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 22rem));
}

#new-form *,
#add-review-form *,
#add-performer-form * {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}

#new-form input[type="submit"] {
  grid-column: span 2;
  width: 10rem;
  margin-left: auto;
}

table {
  font-size: 20px;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid rgb(27, 70, 99)
}

table td {
  padding: 10px;
  text-align: center;
}

#list td:nth-child(2),
#list td:nth-child(3) {
  min-width: 100px;
}

#list a {
  border-radius: 4px;
  background-color: rgb(48, 118, 165);
  padding: 4px;
  text-decoration: none;
  font-size: 14px;
}

#list a:hover {
  background-color: rgb(27, 70, 99);
}

#show-page {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
}

#show-page div:nth-child(even) {
  font-weight: bold;
}

#add-review-form {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  margin-bottom: 2rem;
}

#add-review-form input[type="submit"] {
  width: 10rem;
  grid-column: 2 / 3;
}

ul {
  margin: 0 0 1rem;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

li {
  font-weight: bold;
}

.submit {
  color: rgb(27, 70, 99);
}

input,
select,
textarea {
  color: rgb(27, 70, 99)
}

figure {
  margin: 0;
}

.fig {
  font-size: 0.8em;
  color: black;
  line-height: 2;
}

.grid {
  margin-top: 40px;
  display: grid;
  text-align: center;
  grid-gap: 3em;
  padding: 2em 1em;
  grid-template-columns: 20em 20em 20em;
  grid-template-rows: auto;
  grid-template-areas: "img img img"
    "img img img"
    "img img img"
    "img img img"
    "img img img"
    "img img img"
}


img {
  object-fit: cover;
  width: auto;
  width: 200px;
  height: 200px;
}

.pimg {
  grid-area: img;
  margin-bottom: 40px;
  height: auto;
  width: auto;
  max-width: 500px;
  max-height: 500px;
}

.review {
  text-align: center;
  margin-top: 100px
}

h6 {
  font-size: 15vmin;
  margin: 50px;
}

.btn-delete {
  background-color: rgb(112, 35, 35);
  border-radius: 5px;
}

.btn-update {
  color: black;
  margin-right: 20px;
}

.editor {
  display: flex;
  padding: 20px;
  background-color: rgba(27, 70, 99, .5);
  margin: 30px;
}

.centerText {
  font-size: .6em;
  text-shadow: 1em white;
}

